<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>595320003211-ucq57iaofr2q16mi0id04m9m435pca8q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.595320003211-ucq57iaofr2q16mi0id04m9m435pca8q</string>
	<key>API_KEY</key>
	<string>AIzaSyBFoH7Mz6YYa2XgQAFB4ptuQjKMhMXZquQ</string>
	<key>GCM_SENDER_ID</key>
	<string>595320003211</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cryptorienciesApp</string>
	<key>PROJECT_ID</key>
	<string>cryptolistapp-f271b</string>
	<key>STORAGE_BUCKET</key>
	<string>cryptolistapp-f271b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:595320003211:ios:a02239f697162199c3928e</string>
</dict>
</plist>